<div class="portfolio-page-container">
    <h1>Portfolio</h1>
    <p>I have worked on both back-end and front-end development, implementing robust database structures and efficient algorithms, as well as creating user-friendly interfaces and responsive web designs </p>
    
    <div class="projects-container">

        <app-portfolio-card class="grid-item"  *ngFor="let project of projects" [color]="project.color" [title]="project.title" [description]= "project.description">
        </app-portfolio-card>

   
       

    </div>
    
   

</div> 
 