<div class="portfolio-page-container">
    <h1>Portfolio</h1>
    <p>I have worked on both back-end and front-end development, implementing robust database structures and efficient algorithms, as well as creating user-friendly interfaces and responsive web designs </p>
    
    <div class="projects-container">

        <app-portfolio-card class="grid-item" [color]="'#2F718D'" [tittle]=" 'Revature Social Media'" [description]= "'A social media app is an online platform that enables users to create and share content, connect with others.'" ></app-portfolio-card>
        <app-portfolio-card class="grid-item" [color]="'#7C3669'" [tittle]=" 'Revature Social Media'" [description]= "'A social media app is an online platform that enables users to create and share content, connect with others.'" ></app-portfolio-card>
        <app-portfolio-card class="grid-item" [color]="'#843737'" [tittle]=" 'Revature Social Media'" [description]= "'A social media app is an online platform that enables users to create and share content, connect with others.'" ></app-portfolio-card>
        <app-portfolio-card class="grid-item" [color]="'#817A40'" [tittle]=" 'Revature Social Media'" [description]= "'A social media app is an online platform that enables users to create and share content, connect with others.'" ></app-portfolio-card>
        <app-portfolio-card class="grid-item" [color]="'#52793A'" [tittle]=" 'Revature Social Media'" [description]= "'A social media app is an online platform that enables users to create and share content, connect with others.'" ></app-portfolio-card>
        <app-portfolio-card class="grid-item" [color]="'#1A6267'" [tittle]=" 'Revature Social Media'" [description]= "'A social media app is an online platform that enables users to create and share content, connect with others.'" ></app-portfolio-card>


    </div>
    
   

</div> 
 