<div id="navBar">
    <div> 
        <img src="./assets/images/logo.png" style=" height: 50px" >
    </div>
   
    <div  id="navbar-options">
            <nav id="navbar-links"> 
                <a routerLink="/about-me" routerLinkActive="active" >About Me</a>
                <a routerLink="/experience" routerLinkActive="active" > Experience </a>
                <a routerLink="/portfolio" routerLinkActive="active" > Portfolio </a>
                <a routerLink="/experience" routerLinkActive="active" > Contact Me </a>
                

            </nav>
         
            <div id="download-btn">
 
                <button mat-raised-button color="download-color">Download CV</button> 
            </div>
             
    </div> 

</div>


<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button mat-button color="primary">Primary</button> -->
<!-- 

    


<h3>test 1</h3> -->
<!-- <h1>{{response}}</h1> -->
