#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

#navbar-options{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
   
    
}

#navbar-links{

    display: flex;
    justify-content: space-between;
    /* width: 35%; */
}

#download-btn{
    display: flex; 
    justify-content: center;
    margin-left: 50px;
}

.mat-download-color{
    background-color: #C52F43;
    color: #fff;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 10px;
}

 
a:hover{
    font-weight: bold;
}