.contact-me-container{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    
    padding-bottom: 10%;
  
    margin-top: 3%;
    
}

h1{
    font-size: 3em;
    font-weight: lighter;
    padding-bottom: 1%;
}

.info-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

.info-label{
    margin-bottom: 5px;
}

.info-details{
    margin-bottom: 0px;
    margin-left: 3px;
}


.mat-icon-design{
    background-color: #C52F43;
    color: #fff;
    cursor:default;
}

.icons-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.icon-inner-container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
 
}

.icon-inner-container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}



.message-me-container{
    width: 40%;
  
    padding: 3%;
    border-radius: 25px;

    background-color: #2A2344;

}

mat-form-field{
    width: 48%;
}

.message-me-row{
    display: flex;
    justify-content: space-between;
    
}
.mat-submit-btn{
    background-color: #C52F43;
    color: #fff;
}
.submit-btn-container{
    display: flex;
    justify-content: flex-end;
}



.message-container{
    width: 100%;

}
textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none; 
}



