<div class="contact-me-container">
    <div class="info-container">
        <h1>Contact Me</h1>
        <p>Please  Do not hesitate to Contact Me, I am always open for new opportunities</p>

        <div class="icons-container">

            <div class="icon-inner-container-left"> 
                <button mat-fab color="icon-design" disableRipple="true" aria-label="Example icon button with a delete icon">
                    <mat-icon >phone_in_talk</mat-icon>
                </button>
                <button mat-fab color="icon-design" disableRipple="true" aria-label="Example icon button with a delete icon">
                    <mat-icon >mail</mat-icon>
                </button>
                <button mat-fab color="icon-design" disableRipple="true" aria-label="Example icon button with a delete icon">
                    <mat-icon >location_on</mat-icon>
                </button>
               
                
                
            </div>

            <div class="icon-inner-container-right"> 
                <div>
                    <p class="info-label">Call Me</p>
                    <p class="info-details">(631) 836 9808</p>
                </div>

                <div>
                    <p class="info-label">Email</p>
                    <p class="info-details">bryanchavez102@gmail.com</p>
                </div>

                <div>
                    <p class="info-label">Address</p>
                    <p class="info-details" >78 fulton St</p>
                    <p class="info-details">Brentwood, NY</p>
                </div>

            </div>

         
                 
            
 
        </div>



        

    </div>

    <div class="message-me-container"> 
        <div>

            <h1>Message Me</h1>
        </div>  
            <div class="message-me-row">
                <mat-form-field appearance="outline" >
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
                </mat-form-field>
             
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
                </mat-form-field>
                
            </div>

            <div class="message-me-row">

                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Location</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                 
                </mat-form-field>

            </div>

            <div > 

                <mat-form-field class="message-container" appearance="fill"    >
                    <mat-label>Message</mat-label>
                    <textarea matInput matTextareaAutosize="false" [ngStyle]="{'resize': 'none'}"></textarea>
                </mat-form-field>
              
                
            </div>

            <div class="submit-btn-container">
              
                <button mat-raised-button color="submit-btn"> Submit </button> 
              
            </div>

       
           
        
    </div>

</div>