<div class="experience-container">
    <h1 id="tittle">My Experiences</h1>
    <p id="sub-tittle">I have experience working as a software developer for several years, 
        during which time I have collaborated with cross-functional teams to design, develop, 
        test, and deploy high-quality software applications using various programming languages, 
        tools, and frameworks.
    </p>

    <div class="grid-container">
        <div class="year1Upper"></div>
        <div  class="year1 pointy-Div">
            <h1>2019</h1>
        </div>
        <div class="year1Lower details-container">
        
            <div>
                <h3>Asociates Degree</h3>
                <p>Obtained Associates Degree in Computer Science</p>
            </div>

            <div>
                <h3>College Navigator</h3>
                <p>Android App that retrieved third-party API colleges’ data and stored it in a  Firebase database for easy user access. Android Studio, Java, Firebase, JSON.</p>
            </div>
 
        </div>  

        <div class="year2Uppder details-container">
            <div>
                <h3>Stock Analyzer</h3>
                <p>Java Desktop App that enabled users to search through 20 years of daily Stock 
                    information and generated a graphical representation based on a selected date range
                </p>
            </div>

            <div>
                <h3>Co-Founded ColorStack</h3>
                <p>Co-founded and launched ColorStack at Stony Brook Universtiy, a non-profit organization 
                    dedicated to empowering underrepresented minorities in the computing field
                </p>
            </div> 



        </div>
        <div class="year2 pointy-Div">
            <h1>2020</h1> 
        </div>
        <div class="year2Lower"></div>  

        <div class="year3Uppder"> </div>
        <div class="year3 pointy-Div">
            <h1>2021</h1> 
        </div> 
        <div class="year3Lower">
            <div class="details-container">
                
                    <h3>Quizard</h3>
                    <p>React App that enabled users to create and take quizzes on specific topics.</p>
               
            </div>
 
        </div>
 
        

        
        <div class="year4Upper">
            <div class="details-container">
                <div>
                    <h3>Bachelor’s Degree</h3>
                    <p>Obtained Bachelor’s Degree Computer Science</p>
                </div>
    
                <div>
                    <h3>Full Stack Java Developer</h3>
                    <p>Employment at Revature creating Full Stack apps utilizing Spring, Angular and PostgreSQL </p>
                </div> 
            </div>
            
        </div>
        <div class="year4 pointy-Div">
            <h1>2022</h1>  
        </div>
        <div class="year4Lower"></div>  

         
    </div>


    


</div>
