<div id = "intro-container">
 
    <div id ="text-container"> 
        <h3 id="welcome-header" >Welcome I'm</h3>
        <h1>Bryan Chavez</h1>
        <h5>Software Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo
            duis ut diam quam nulla. Praesent tristique magna sit
            amet.  
        </p>
    </div>
    
    <div> 
        <img src="./assets/images/portrait.png" style=" height: 500px" >
        
    </div>
</div>

<div id="summary-container">

    <h3 id="summary-box">Associates Degree in Computer Science</h3>
    <!-- <h3 id="summary-box">Bachelor's in Computer Science</h3>
    <h3 id="summary-box">02 Years Experience</h3>
    <h3 id="summary-box">20+ Projects</h3> -->
    

</div>