#intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;

}

#welcome-header{
    background-color: #52182E;
    width:fit-content;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 

    border-radius: 3px;
    font-weight: lighter; 
}

#intro-text-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    
}


p{
    width: 80%;
}

h1{
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: lighter;
}

.summary-container{
    background-color: #2A2344;
    width: 100%;  
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px; 

}

.summary-inner-container{
    margin-left: 10%;
    margin-right: 10%;
}



.summary-box{ 
   
    height: 200px; 
    width: 200px;

    background-image: url('../../../assets/images/dashedRectangle.png'); 
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.summary-box-text{
   text-align: center;
   font-weight: lighter;
   font-size: 2em;
   line-height: 1.3;
}

.summary-box-text-number{ 
   margin-bottom: 0;
   font-size: 3.5em;
   font-weight: bolder;

}