<div id = "intro-container">
 
    <div id ="text-container"> 
        <h3 id="welcome-header" >Welcome I'm</h3>
        <h1>Bryan Chavez</h1>
        <h5>Software Developer</h5>
        <p>As a software developer, I have a passion for creating elegant and efficient solutions to complex problems. 
            With years of experience in multiple programming languages and a deep understanding of software design principles, 
            I strive to deliver high-quality code that meets the needs of clients and users alike.  
        </p>
    </div>
    
    <div> 
        <img src="./assets/images/portrait.png" style=" height: 500px" >
        
    </div>
</div>

<div class="summary-container">
    <div class ="summary-box">
        <h3 class= "summary-box-text">Associates Degree in Computer Science</h3>
    </div> 

    <div class ="summary-box">
        <h3 class= "summary-box-text">Bachelor's in Computer Science</h3>
    </div> 
    <div class ="summary-box">
        <h3 class ="summary-box-text summary-box-text-number">02</h3>
        <h3 class = "summary-box-text">Years Experience </h3>
    </div> 
    <div class ="summary-box">
        <h3 class ="summary-box-text summary-box-text-number">20+</h3>
        <h3 class= "summary-box-text">Projects</h3>
    </div> 

    

</div>