.project-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 250px;
   
}
h1{
    width: 50%;
}
p{
    margin: 0;
    width: 80%;
    
}

.project-container:hover{

    filter: brightness(0.70) !important;
    cursor: pointer;
}
